#main-container {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-container button {
    width: 300px;
    height: 48px;
    background: #1b2b5c;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

#main-container button:hover {
    opacity: 0.8;
}