#cadastrar-container {
    max-width: 400px;
    margin: 50px auto 0;
}

#cadastrar-container header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cadastrar-container header h1 {
    font-size: 21px;
    border-left: 1px solid #eee;
    padding-left: 20px;
}

#cadastrar-container header a {
    padding-right: 20px;
    cursor: pointer;
}

#cadastrar-container header a:hover {
    opacity: 0.8;
}

#form-usuario form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-content: center;
}

#form-usuario form input {
    height: 48px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    padding: 20px;
}

#form-usuario button {
    height: 48px;
    background: #1b2b5c;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

#form-usuario button:hover {
    opacity: 0.8;
}
